body {
	margin: 0;
}

table {
	border-collapse: collapse;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}
  
table, th, td {
    border: 1px solid #55608f;
    border-collapse: collapse;
    height: 2em;
}

table {
    margin-top: 184px;
    border-top: 0px;
    /*width: -moz-available;*/
}
  
th, td {
	display: none;
	padding: 5px;
	padding-right: 12px;
}
  
th.show, td.show {
	display: table-cell;
}
  
.toggles {
	display: flex;
	flex-direction: column;
}

.filter {
	min-height: 120px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
	padding: 20px;
	position: fixed;
	background-color: darkgray;
	min-width: 100%;
}

.table-view {
    display: grid;
}

tbody tr:nth-child(odd) {
    background-color: #e7ecff;
  }

thead {
	background-color: #55608f;
	position: sticky;
}

table thead {
    inset-block-start: 183px;
}

.toggles {
	display: contents;
}